div#dev_header {
    background-color: rgba(50, 53, 68, 0.509);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 50px 0 rgb(100, 64, 170);
}

#dev_header_h1, #dev_header_nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#dev_header_nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dev_header ul li {
    padding: 0 1vw;
}

#dev_header ul li a:hover {
    cursor: pointer;
}

 



