div#dev_main {
  padding: 1vh 1vw;
}

#eyeCatcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4vh 2vw;
}

div#introStatement {
    text-shadow: 1px 0 10px rgb(71, 95, 184);
}

div#profile img{
    width: 70vw;
    max-width: 512px;
    padding: 0 2vw;
    height: auto;
}

span#emName {
    box-shadow: 0 2px 0 rgba(99, 64, 170, 0.783);
}

  
  .About__header {
    text-align: center;
  }

.Bio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  
  .row_image {
    width: 70vw;
    max-width: 512px;
    padding: 0 2vw;
    border-radius: 50%;
    height: auto;
  }
 
 div#ProjectArea {
   padding: 1vh 1vw;
   display: flex;
   justify-content: center;
   align-content: center;
   height: auto;
   width: 100vw;
   max-height: 100vh;
 }

 #ProjectArea_Header {
  text-align: center;
}

 div#ProjectOverview {
  padding: 1vh 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: auto;
 }

 div#ProjectPhotos{
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
 }



 div.Project__content {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
 }
 
 div.content__links_container {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
 }

 div.content__links_container a {
   color: white;
 }

 div.content__links_container a:hover {
  box-shadow: 0 0 2px 2px rgb(24, 72, 242);
}

 div.content__desc_container{
   display: flex;
   justify-content: center;
   text-align: justify;
   align-content: center;
   padding: 0 1vw;
   width: 80vw;
   font-size: minmax(2vmax, 1vmax);
 }

 div.content__stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: justify;
  width: 80vw;
 }

 div#ProjectPhotos .Project__image{
   display: flex;
 }

 div#ProjectPhotos img{
   width: 60vw;
   height: auto;
 }


  @media all and (min-width: 1000px) {
    .Bio {
      flex-direction: row;
      align-items: center;
    }
  
    .reverse {
      flex-direction: row-reverse;
    }
  }

